@import "global.scss";

.custom-btn {
  @include custom-btn;
}

.custom-btn-hero {
  @include button-container-styles;
}

.custom-btn-nav {
  color: $primary-blue;
  border-radius: 9999px;
  background-color: $white;
  min-width: 130px;
}

.custom-btn__inner {
  flex: 1 1 0%;
}
